 /*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: Top;
    margin: 0;
    min-height: 100vh;
    background: #ffe9e9;
}
.container{
    height: 50vh;
    background: #fafafa;
    border-radius: 10px;
    box-shadow: 0 3px 12px rgba(32, 31, 31, 0.5);
    width: 500px;
}
.form{
    padding: 20px 60px;
}
้h2{
    text-align: center;
    margin: 0 0 0 30px;
}

้h3{
    justify-content: center;
    margin: 0 0 0 10px;
}

.form-control{
    position: relative;
    margin-bottom: 11px;
    padding-bottom: 21px
}

/*.form-control label{
    display: block;
    margin-bottom: 6px;
}*/
 /*.form-control input{
    display: block;
    border: 3px solid #f2f2f2;
    border-radius: 5px;
    width: 100%;
    padding: 11px;
    font-size: 15px;
}
/*.form-control input:focus{
    outline: none;
}*/

 /*.form button{
    background: rgb(112, 6, 133);
    cursor: pointer;
    color: #f2f2f2;
    width: 100%;
    margin-top: 22px;
    border: 3px solid #f9f9fc;
    display: block;
    padding: 11px;
    font-size: 16px;

} 



/* src/FormText.css */
/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: vh;
  }
  
  .form {
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  }
  
  .text-center {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .form-control {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  small {
    display: block;
    margin-top: 5px;
  }
  
  button {
    width: 100%;
    padding: 20px;
    background-color: #b700ff;
    color: #ca2d2d;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #b35100;
  } */







  /* Grid.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500vh;
  min-width: 500px;
  
}

.form {
  width: 500px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 1 0 10px rgba(0, 0, 0, 0.1);
}

.text-center {
  text-align: center;
  margin-bottom: 15px;
}

.form-control {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

small {
  display: block;
  margin-top: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #579de7;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}
